// Color
  // Primary
  $clr-light-cyan: hsl(193, 38%, 86%);
  $clr-neon-green: hsl(150, 100%, 66%);
  // Neutral
  $clr-grayish-blue: hsl(217, 19%, 38%);
  $clr-dark-grayish-blue: hsl(217, 19%, 24%);
  $clr-dark-blue: hsl(218, 23%, 16%);

// Typography
  // Size
  $font-size-body: 16px;
  $font-size-quote: 28px;
  // Family
  $font-family: 'Manrope', sans-serif;
  // Weight
  $font-weight: 800;

// Layout Size
  $mobile: 375px;
  $desktop: 1440px;