// Color
  // Primary
  $clr-light-cyan: hsl(193, 38%, 86%);
  $clr-neon-green: hsl(150, 100%, 66%);
  // Neutral
  $clr-grayish-blue: hsl(217, 19%, 38%);
  $clr-dark-grayish-blue: hsl(217, 19%, 24%);
  $clr-dark-blue: hsl(218, 23%, 16%);
  // Shadow
  $shadow-neon: 0 0 32px 1px $clr-neon-green;

// Typography
  // Size
  $font-size-body: 16px;
  $font-size-quote: 28px;
  // Family
  $font-family: 'Manrope', sans-serif;
  // Weight
  $font-weight: 800;

// Layout Size
  // Mobile 375px / 16 px = 23.43em
  $mobile: 26.43em;
  // desktop 768px / 16 px = 48em
  $desktop: 48em;